.Sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: aqua;
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.4s;
    transition-timing-function: ease-out;
}

.SidebarHidden {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: aqua;
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.4s;
    transition-timing-function: ease-in;
}



@media (max-width: 500px) {
    .Sidebar {
        width: 0;
    }
}