.Sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #85a392;
    overflow-x: hidden;
    z-index: 10;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(.11,.87,.7,1.01);
    filter: drop-shadow( 3px 0px 2px rgba(0, 0, 0, .4));
}

.SidebarHidden {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: #85a392;
    overflow-x: hidden;
    z-index: 10;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(.11,.87,.7,1.01);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
}



@media (max-width: 500px) {
    .Sidebar {
        width: 0;
    }
}