.ControlBarVert {
    position: fixed;
    left: 0;
    width: 120px;
    height: 640px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ControlBarHoriz {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    height: 95px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}