.ControlButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 140px;
    background-color: #85a392;
    color: #ffecc7;
    text-align: center;
    user-select: none;
    padding: 4px;
}

.ControlButton:hover {
    color: #ffecc7;
    background-color: #a9c6b5;
    cursor: pointer;
}