.Viz {
    position: relative;
    display: inline-block;
    height: 450px;
    width: 800px;
}

.Viz .StageBackground {
    position: absolute;
    top: 0;
    left: 0;
}

.Viz svg {
    position: absolute;
    top: 0;
    left: 0;
}