.Layout {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffecc7;
    display: inline-flex;
    overflow-y: auto;

    /*transition: margin-left 0.5s;*/
}

.Layout .MainView {
    z-index: -1;
}

.OpenButton {
    height: 20px;
    width: 20px;
}