.LandingPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #85a392;
    text-align: center;
}

.MainText {
    /*border: 1px solid black;*/
    padding: 50px;
}

.Subtitle {
    /*border: 1px solid black;*/
    padding: 50px;

}