.MainView {
    width: 100%;
    height: auto;
    margin-left: 0;
    transition: 0.4s;
    transition-timing-function: ease-in;
    background-color: #ffecc7;
}

.MainViewSideBarOpen {
    width: 100%;
    height: auto;
    margin-left: 200px;
    transition: 0.4s;
    transition-timing-function: ease-out;
    background-color: #ffecc7;
}