.NavItem {
    width: 200px;
}

.NavItem a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 25px;
    color: yellow;
    transition: 0.2s;
}

.NavItem a:hover {
    color: white;
    background-color: olivedrab;
}