.CloseButton {
    position: absolute;
    top: 20px;
    right: 25px;
    height: 35px;
    width: 35px;
    background-color: #85a392;
    z-index: 10;
}
.CloseButton:hover {
    cursor: pointer;
}

.svgDiv {
    position: absolute;
    width: inherit;
    height: inherit;

}